@import '../../assets/styles/setup/variables';

.contact-edit {
  color: white;
  & > :not(:last-child) {
    margin-block-end: 20px;
  }

  .actions {
    width: 310px;

    & > :not(:last-child) {
      margin-inline-end: 10px;
    }
    a,
    button {
      border-radius: 50%;
      width: 45px;
      height: 45px;
      cursor: pointer;
      border: none;
      background-color: unset;

      &:hover {
        background-color: $clr3;
      }
    }
  }

  form {
    & > :not(:last-child) {
      margin-bottom: 15px;
    }

    .input-container {
      label {
        margin-inline-end: 10px;
      }
      input {
        border: 1px solid #eceaea;
        padding: 15px;
        border-radius: 25px;
        width: 250px;
      }
    }

    .save-btn {
      border: 1px solid #ffeaea;
      padding: 15px;
      border-radius: 25px;
      width: 310px;
      background-color: white;

      cursor: pointer;
      &:hover {
        background-color: $clr3;
      }
    }
  }
}
