@font-face {
    font-family: Montserrat;
    src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Roboto-Slab;
    src: url(../../fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf);
}
// @font-face {
//     font-family: Opensans;
//     src: url(~@/assets/fonts/OpenSans/OpenSans-Regular.ttf);
// }
// @font-face {
//     font-family: GreatVibes;
//     src: url(~@/assets/fonts/GreatVibes/GreatVibes-Regular.ttf);
// }