
// COLOR PALETTE
$clr1: #1F2843;
$clr3: #f7f4f4a3;
$clr2: #504658;
$clr4: #f0decb;
$clr5: #fff;

// LAYOUT BREAKPOINTS
$break-mobile: 460px;
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;


